html {
	background-image: url("https://i.pinimg.com/474x/05/b1/87/05b1879e86eadd850b24e0d54228dbae--repeating-patterns-grey-fabric.jpg");
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

.section-title {
	font-size: 20px;
	font-weight: normal;
	background: white;
	border-radius: 5px;
	width: fit-content;
	padding: 5px;
}

.MuiAppBar-root {
	margin-bottom: 15px;

	.MuiToolbar-root {
		display: flex;
	}

	svg {
		fill: white;
		margin-right: 10px;
	}
}

.MuiToolbar-root h1 {
	flex-grow: 1;
}

a {
	color: initial !important;
}

.character-infos-list {
	.MuiListItem-root {
		flex: 1 0 33%;
		flex-wrap: wrap;

		@media screen and (min-width: 0px) {
			flex: 1 0 100%;
		}
		@media screen and (min-width: 900px) {
			flex: 1 0 50%;
		}
		@media screen and (min-width: 1200px) {
			flex: 1 0 33%;
		}
	}

	a {
		margin: 0 5px;
	}
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.5;
	z-index: 1;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	z-index: 2;

	svg {
		width: 100px;
		height: 100px;
	}
}
